<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="blueberryco.workouttracker" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launc"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ClientProfileActivity" >
        </activity>
        <activity android:name=".ClientStatsActivity" >
        </activity>
        <activity android:name=".TrainerActivity" >
        </activity>
        <activity android:name=".WorkoutDetailsActivity" >
        </activity>
        <activity
            android:name=".CreateOwnerActivity"
            android:label="@string/title_activity_create_owner" >
        </activity>
    </application>

</manifest>
